<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">

    <title>w0rd.it | real-word url shortener</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:css style.css -->
    <link rel="stylesheet" href="normalize.css"/>
    <link rel="stylesheet" href="style.css"/>
    <!-- endbuild -->

    <!-- build:js /vendor.js -->
    <script src="../node_modules/angular/angular.js"></script>
    <!-- endbuild -->

    <!-- build:js1 app.js -->
    <script src="main.js"></script>
    <script src="ShortenerForm/FormController.js"></script>
    <script src="ShortenerForm/UrlValidator.js"></script>
    <!-- endbuild -->
</head>

<body ng-app="WordItApp">

<noscript>
    Word of advice: activate JavaScript.
</noscript>

<form id="wordItForm" ng-controller="WordItFormController">
    <header>
        <div class="bubble" ng-if="submitted">
            {{ shortener.description }}
            <div class="bubble__triangle"></div>
        </div>

        <div class="title">
            <span class="title__name">w0rd.it</span>
            <span class="title__slash">/</span>
            <span class="title__hash">
                {{ shortener.hash }}
            </span>
        </div>

        <div class="primer">Get a memorable word for your bad-ass URL.</div>
    </header>

    <fieldset class="content">
        <p class="control__error" ng-if="shortener.exception">I hate to say, but: {{shortener.message}} <span>({{shortener.status}})</span>
        </p>

        <div class="control">
            <input class="control__input" type="text" ng-model="url" ng-change="validify()"
                   placeholder="Paste your URL."/>
            <button class="control__button" ng-click="postURL()" type="submit">
                <span>Word it</span>
            </button>
        </div>
    </fieldset>

    <footer>There are {{ stats.remainingCount }} english words remaining.</footer>
</form>
</body>

</html>